@page "/"

@using System.ComponentModel;
@using Yatter.UI.ListBuilder.ListItems;
@using Yatter.UI.Blazor.Components;

<style>
    .root {
        display: grid;
        grid-gap: 0px; /* Simply adjust this value !*/
        background-color: transparent;
    }
    .listviewcontent {
        overflow-y: scroll;
        padding: 0px;
    }
    .menurow {
        background-color:transparent;
        margin:0px;
        padding:0px;
    }
</style>
<div class="root">
    <div class="menurow">
        @Masthead
    </div>
    <div class="menurow">
        @Menu
    </div>
    <div class="listviewcontent">
        <DynamicListView ItemsSource="@Yatter?.Items" ComponentMetadata="@ComponentMetaData" BackgroundColor="Transparent">
            <Header>@ListHeader</Header>
            <Footer>@ListFooter</Footer>
        </DynamicListView>
    </div>
    <div class="menurow">
        @TabFoot
    </div>
</div>

@code
{
    [Parameter] public Yatter.UI.ListBuilder.Serialization.Models.Yatter? Yatter { get; set; }
    [Parameter] public Dictionary<string,Yatter.UI.ListBuilder.Framework.ComponentMetadata>? ComponentMetaData { get; set; }

    [Parameter] public RenderFragment? Masthead { get; set; }
    [Parameter] public RenderFragment? Menu { get; set; }
    [Parameter] public RenderFragment? ListHeader { get; set; }
    [Parameter] public RenderFragment? ListFooter { get; set; }
    [Parameter] public RenderFragment? TabFoot { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }
}